/.idea/
/target/
ApacheBeam.iml
/src/main/java/section2/customers-00000-of-00001.csv
/src/main/java/section2/output-00000-of-00001.csv
/src/main/java/section3/output-austin-00000-of-00001.csv
/src/main/java/section4/output-distinct-00000-of-00001.csv
/src/main/java/section3/output-filter-00000-of-00001.csv
/src/main/java/section3/output-flat-map-elements-00000-of-00001.csv
/src/main/java/section3/output-flatten-00000-of-00001.csv
/src/main/java/section4/output-group-by-key-00000-of-00001.csv
/src/main/java/section5/output-inner-join-00000-of-00001.csv
/src/main/java/section5/output-left-join-00000-of-00001.csv
/src/main/java/section3/output-los-angeles-00000-of-00001.csv
/src/main/java/section3/output-par-do-00000-of-00001.csv
/src/main/java/section3/output-phoenix-00000-of-00001.csv
/src/main/java/section3/output-side-input-00000-of-00001.csv
